* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair+Display", serif;
    background-color: #2b3c61;
}


.top {
    background-color: #1f2b45;
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    padding-left: 500px;
}

.text1 {
    font-family: "Playfair+Display", serif;
    color: white;
    font-size: x-large;
    margin-top: 1cqmin;
    margin-bottom: 0px;
}

.text2 {
    color: white;
    font-size: x-small;
    margin-top: 0px;
}

.top_text1 {
    text-align: center;
}

.buy_button {
    color: white;
    background-color: #1f2b45;
    border: 1px solid white;
    width: 50px;
    height: 30px;
    margin-left: 180px;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 15px;
}

.line span {
    display: block;
    height: 1px;
    width: 80%;
    background-color: white;
    border-radius: 2px;
}

.top_content {
    display: flex;
    margin-top: 15px;
    margin-left: 240px;
}

.img_content1 {
    /* margin-top: 70px; */
}

.img1 {
    width: 1155px;
    height: 600px;
    margin-top: 70px;
    margin-left: 0px;
}

.suggest_content p {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
}

.flex_img {
    display: flex;
    margin-left: 220px;
}

.flex_img img {
    width: 200px;
    height: 200px;
    margin-right: 80px;
}

table {
    background-color: #1f2b45;
    border-color: #1f2b45;

}

td {
    border: none;
}

/* input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: lightblue;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: lightblue;
    border-color: lightblue;
    position: relative;
} */

/* チェック時のマークを表示 */
/* input[type="checkbox"]:checked::before {
    border: 2px solid #fff;
    content: "✔";
    color: #333;
    font-size: 16px;
    position: absolute;
    left: 2px;
    top: 4px;
} */


.flex_contentText {
    display: flex;
    font-size: smaller;
}

.flex_contentText table {
    width: 230px;
    height: 100px;
    padding: 8px;
}

.contentText {
    color: white;
    margin-left: 200px;
}

.contentText2 {
    color: white;
    margin-left: 60px;
}

.contentText3 {
    color: white;
    margin-left: 55px;
}

.under_text {
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
}

.under_text u {
    text-decoration-color: #1f2b45;
    text-decoration-thickness: 5px;
}

.explainContent {
    display: flex;
    background-color: #1f2b45;
    margin-top: 50px;
}

.explainContent_inner {
    display: flex;
    flex-direction: column;
}

.explainContent img {
    width: 410px;
    height: 100%;
    margin-right: 50px;
    margin-left: 200px;
}

.explain_top {
    color: white;
    font-size: larger;
    text-align: left;
    margin-top: 80px;
    padding-right: 180px;
}

.explainContent_inner table {
    width: 180px;
}

.explainContent_inner td {
    color: white;
    border: 2px solid white;
    padding-left: 10px;
    margin-top: 0px
}

.explain {
    color: white;
    font-size: medium;
    margin-top: 20px;
    padding-right: 180px;
}

.item_buy_all {
    display: flex;
}

.item_buy {
    margin-top: 40px;
    margin-left: 240px;
}

.item_buy2 {
    margin-top: 40px;
}

.item_buy2 img {
    width: 280px;
    height: 120px;
}

.item_buy img {
    width: 280px;
    height: 120px;
}

.item_buyTable2 {
    margin-left: 100px;
}

.closeContent {
    display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    text-align: center;
}

.closeContent.show {
    max-height: 300px;
    opacity: 1;
}

.itemBuy_button {
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
}

.LimitedItem_text {
    color: white;
    width: 200px;
    height: 40px;
    font-size: x-large;
    background-color: #1f2b45;
    margin-top: 40px;
    margin-left: 470px;
    padding-top: 4px;
    padding-left: 17px;
}